<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Building coordinate</key>
	<dict>
		<key>Left bottom</key>
		<dict>
			<key>latitude</key>
			<string>55.6725759185084336</string>
			<key>longitude</key>
			<string>37.478279674560135</string>
		</dict>
		<key>Left top</key>
		<dict>
			<key>latitude</key>
			<string>55.67301506732467</string>
			<key>longitude</key>
			<string>37.478791533281635</string>
		</dict>
		<key>Right bottom</key>
		<dict>
			<key>latitude</key>
			<string>55.6718141891654276</string>
			<key>longitude</key>
			<string>37.47903792110716</string>
		</dict>
		<key>Right top</key>
		<dict>
			<key>latitude</key>
			<string>55.67225333798167</string>
			<key>longitude</key>
			<string>37.47954977982864</string>
		</dict>
		<key>Enter</key>
		<dict>
			<key>latitude</key>
			<string>55.67219200458108</string>
			<key>longitude</key>
			<string>37.4788591774319</string>
		</dict>
	</dict>
	<key>Area coordinate</key>
	<dict>
		<key>Left bottom</key>
		<dict>
			<key>latitude</key>
			<string>55.67251976271117</string>
			<key>longitude</key>
			<string>37.47807658227939</string>
		</dict>
		<key>Left top</key>
		<dict>
			<key>latitude</key>
			<string>55.67296292923412</string>
			<key>longitude</key>
			<string>37.4790514089806</string>
		</dict>
		<key>Right bottom</key>
		<dict>
			<key>latitude</key>
			<string>55.67180389258219</string>
			<key>longitude</key>
			<string>37.47907448597416</string>
		</dict>
		<key>Right top</key>
		<dict>
			<key>latitude</key>
			<string>55.672212965043585</string>
			<key>longitude</key>
			<string>37.48000555803723</string>
		</dict>
	</dict>
</dict>
</plist>
